* {
    box-sizing: border-box;
}

html {
    /* background: url(images/background-4.jpg) no-repeat center center fixed; */
    background: url(images/background-7.jpg) no-repeat center center fixed;

    background-size: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    width: 300px;
    height: 150px;
}

h1 {
    text-align: center;
    border: 5px solid white;
    padding: 8px;
    font-size: 50px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input {
    margin: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    color: white;
    border: 1px solid white;
    height: 35px;
    transition-property: background;
    transition-duration: .25s;
    transition-timing-function: linear;
}

input:hover {
    background: rgba(100, 100, 100, .6)
}

#submit {
    background: white;
    color: black;
    border-radius: 20px;
}

#submit:hover {
    cursor: pointer;
}

li {
    line-height: .7;
    margin: 30px 0;
}

.songkick-link {
    font-size: 12px;
}

.artist-name {
    font-weight: bold;
}

.artist-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

#concert-results {
    list-style: none;
    max-height: 800px;
    overflow: scroll;
    border: 1px solid white;
    padding: 0 20px;
    background: rgba(0, 0, 0, .75);
}

#cities {
    list-style: none;
    max-height: 200px;
    overflow: scroll;
    /* border: 1px solid white; */
    background: rgba(0, 0, 0, .75);
}

.venue {
    font-weight: bold;
}

.venue:hover {
    text-decoration: underline;
    cursor: pointer;
}

.city-name:hover {
    cursor: pointer;
}

.venue-id {
    display: none;
}

.hidden {
    display: none;
}

ul::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0);
    width: 7px;
    border-radius: 20px;
}

ul::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, .5); 
  }

::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

@media screen and (max-width: 950px) {

    main {
        flex-direction: column;
    }

    #concert-results {
        max-height: 300px;
    }

}

